footer.footer .footer-widgets {
	display:none;
	padding-bottom:0px !important;
}
@media (max-width: 767px) {
	footer.footer .footer-widgets { text-align:center; }
}
.nav_custom1{ padding-left: 10% !important;}
.users
{
color: white !important; 
font-weight: bold;
text-transform: uppercase;
font-size: 13px;
line-height: 16px;
margin-left: 18px; 
}
.pay{
    background: none repeat scroll 0 0 greenyellow !important;
    color:#2b353d !important; 
}
.image_icons{
    width: 21px;
    height: 19px;
}
.image_icons_b{
    width: 25px;
    height: 25px;
}
.main-menu ul li a span{
    margin-left: 0 !important;
}