footer.footer .footer-widgets {
	display:none;
	padding-bottom:0px !important;
}
@media (max-width: 767px) {
	footer.footer .footer-widgets { text-align:center; }
}
.nav_custom1{ padding-left: 10% !important;}
.users
{
color: white !important; 
font-weight: bold;
text-transform: uppercase;
font-size: 13px;
line-height: 16px;
margin-left: 18px; 
}
.pay{
    background: none repeat scroll 0 0 greenyellow !important;
    color:#2b353d !important; 
}
.image_icons{
    width: 21px;
    height: 19px;
}
.image_icons_b{
    width: 25px;
    height: 25px;
}
.main-menu ul li a span{
    margin-left: 0 !important;
}
.image_oferta{
   width:100px;
   margin-left: -20px;
   margin-top: -48px;
   position: relative;
   z-index: -1;
  
}
.image_products{
   margin-top: -80px !important;
   position: relative;
   z-index: -2;
}
.number_price{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 4px auto auto -13px;
}
.number_text{
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin: -12px auto auto -13px;
}
.title-section:before {
    margin-top: 8px !important;
}
.title-section h1.title-header {
    margin: 13px 0 0 !important;
}